:root {
    --main-color:#fcca22;
    --text-color:#333;
    --gray:#555;
    --dark-gray:#444;
    --red:#f01f1f;
    --light-gray:#ddd;
}

/* header */
header {
    background: var(--main-color);
    padding: 10px;
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1em;
}

.header-wrap .title {
    font-weight: 600;
    font-size: 20px;
}

.header-wrap .left-wrap {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.header-wrap .left-wrap .back-btn {
    background: url(/static/images/left.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-wrap .right-wrap {
    display: flex;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: end;
    gap: 1.5em;
}

.header-wrap .right-wrap .great-btn {
    background: url(/static/images/heart.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-wrap .right-wrap .bag-btn {
    background: url(/static/images/right.png);
    width: 40px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sub-header-wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.sub-header-wrap .btn-wrap ul {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.sub-header-wrap .btn-wrap ul li .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 60px;
}

.sub-header-wrap .btn-wrap ul li .header-btn img{
    width: 50px;
    height: 50px;
}

.sub-header-wrap .btn-wrap ul li .header-btn span {
    font-size: 14px;
}

.sub-header-wrap .btn-wrap ul li .round-btn {
    width: 80px;
}


/* contents */

.content-section {
    display: flex;
    height: calc(100vh - 300px);
}

.content-section .navbar {
    width: 100px;
    background: var(--gray);
    height: 100%;
    overflow: auto;
}

.content-section .contents {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.divider:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% + 2.5rem);
    height: 0.5rem;
    background-color: #f8f8f8;
    margin: 1.5rem -1.25rem 0 -1.25rem;
}

/* popup */
body.dim {
    overflow: hidden
}

body.dim:before {
    background-color: rgba(0, 0, 0, 0.16);
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 996
}

/* popup */
.pop-section {
    background-color: var(--col_white);
    display: none;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 40px 40px;
    z-index: 997;
    background: #fff;
    width: 80%;
}